#include("./common/header.html", {title:"FAQ"})
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="${base_url('/')}">Java中国</a> › FAQ
				</div>
				<div class="panel-body topic-detail">
					<h4>JavaChina是什么？</h4>
					<hr/>
					<p>
						JavaChina 是Java中国开发者社区，为中国 Java 开发者创造一个简洁／优质的程序员论坛。
					</p>
					<p>
						本站的代码开源在 <a href="https://github.com/junicorn/java-china">Github</a>。
					</p>
					
					<br/>
					<h4>JavaChina是用什么做的？</h4>
					<hr/>
					<p>
						JavaChina 使用了开源框架 <a href="https://github.com/biezhi/blade">Blade</a> 搭建，如果你有兴趣可以学习或优化它。
					</p>
					
					<br/>
					<h4>我可以在这里推广自己的网站么？</h4>
					<hr/>
					<p>
						我们非常欢迎创业者在这里发布自己的新作品。但是如果你在这里注册一个账号，就是为了将自己网站上的链接一个一个搬运过来的话，请停止这样做。
					</p>
					
					<br/>
					<h4>我是否可以编辑或者移动自己的帖子？</h4>
					<hr/>
					<p>
						在帖子发布之后的 300 秒内，你可以自由地编辑自己的帖子，或者将其移动到其他节点。
						但是在 300 秒（5 分钟）之后，就不可以再进行这些操作了。对于编辑的限制是为了让大家对发表在 JavaChina 的言论更加负责。
					</p>
					
					<br/>
					<h4>我是否可以编辑自己的回复？</h4>
					<hr/>
					<p>
						回复在发表之后就不可以再进行任何编辑。因此，建议大家在按下发布按钮之前，仔细阅读一下以确保没有错别字或者不友善的表达方式。
					</p>
					
					<br/>
					<h4>我是否可以删除自己的回复？</h4>
					<hr/>
					<p>
						在 JavaChina，回复一旦发布，就不再可以删除和编辑。这个规则的设立，是为了创造一个所有人对自己说过的话更加负责的社区氛围。
					</p>
					
					<br/>
					<h4>我是否可以删除自己的帖子？</h4>
					<hr/>
					<p>
						如果你创建的帖子没有收到过任何来自其他人的回复，那就可以。请在 <a href="${base_url('/go/chamber')}">/go/chamber</a> 节点提出你的删除请求。
					</p>
					<p>
						如果您在社区内传递不良信息／过激政治话题，我们是会删除您的帖子的。
					</p>
					
					
				</div>
			</div>
		</div>
		#include("./common/sidebar.html")
	</div>
</div>
#include("./common/footer.html")
</body>
</html>